@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Raleway:wght@300&display=swap');

$heading: 'Fugaz One', cursive;
$paragraph: 'Raleway', sans-serif;

$yellow: #E8BF49;
$pink: #B25F78;
$black: #312F30;
$grey: #C9C9C9;
$teal: #006A72;