@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Raleway:wght@300;400;500;600&display=swap");

$heading: "Fugaz One", cursive;
$paragraph: "Raleway", sans-serif;

$yellow: #e8bf49;
$pink: #b25f78;
$black: #312f30;
$grey: #c9c9c9;
$teal: #006a72;
