@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
